<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

    <head>
        <title>Hello, world!</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- Material Kit CSS -->
        <!-- <link href="assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />-->
        <link href="style/material-kit.css?v=2.0.7" rel="stylesheet" />

        <script type="text/javascript">
            var count = 0;
        </script>

    </head>

    <body>
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#0">정보보안기사CBT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            보안기사란
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            문제풀기
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">
                            오답노트
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg3.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <h2 class="title">CBT PLAY</h2>

                <form class="form" th:action="@{/login.do}" th:object="${loginVO}"  action="#" id="loginForm" method="get">

                    <tr th:each="message : ${messages}">
                        <h3><td th:text="${messageStat.count}">문제번호count</td>. <td th:text="${message.question}">문제</td></h3><br>
                        <td th:text="${message.data}">문제추가데이터</td><br>
                        <input type="radio" name="chk_info" value="HTML"> 1. <td th:text="${message.bogi1}">보기1번</td><br>
                        <input type="radio" name="chk_info" value="HTML"> 2. <td th:text="${message.bogi2}">보기2번</td><br>
                        <input type="radio" name="chk_info" value="HTML"> 3. <td th:text="${message.bogi3}">보기3번</td><br>
                        <input type="radio" name="chk_info" value="HTML"> 4. <td th:text="${message.bogi4}">보기4번</td><br>
                        <hr>
                    </tr>

                    <div class="col-sm-8 col-md-5 mx-auto">
                        <a href="https://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-mk-demos" class="btn btn-rose btn-upgrade btn-lg" target="_blank">
                            <i class="material-icons">unarchive</i> 채점하기
                        </a>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <footer class="footer footer-default">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com/">
                            Creative Tim
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
    </body>

</html>